* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* COMMON */

body {
  font-family: 'Sora', 'Montserrat', sans-serif;
  font-size: 10px;
}

.debug [class*="container-"] {
  border: 1px solid white;
}

.container-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.decoration-none {
  text-decoration: none;
}

.padding-left-sidebar {
  padding-left: 24px;
}

.margin-bottom-sidebar {
  margin-bottom: 12px;
}

.margin-left-sidebar {
  margin-left: 10px;
}

#wrapper {
  width:100%;
  height: 100vh;
  overflow:hidden;
}

/* COLOURS */

.side-black {
  background-color: #040404;
}

.main-black {
  background-color: #141922;
}

.footer-black {
  background-color: #282828;
}

.white-text {
  color: #FFF;
}

.grey-text {
  color: #7b7d82;
}

.green-accent {
  color: #adff2f;
}

.player-grey-text {
  color:#a3a3a3;
}

/* LEFT-SIDE NAV */
.left-nav {
  height: calc(100vh - 90px);
  width:232px;
  float: left;
  padding-top:24px;
  overflow: hidden;
}

.top-list {
padding: 0 8px;
list-style: none;
margin-bottom: 35px;
}

.top-list > li:first-child {
  border-left: 3px solid #adff2f;
}

.left-nav li i {
  font-size: 1.5rem;
  margin-right: 15px;
}

.left-nav ul img {
  width: 27px;
  margin:0  15px;
  vertical-align:bottom;
}

.left-nav span, .bottom-list a {
  font-size: 0.8rem;
  font-weight: 500;
}

.bottom-list li :hover, .playlist h2:hover, .user-section h2:hover,
.player-left i:hover  {
  color:#fff;
}

.plus-playlist:hover {
  background-color: #fff;
}

.top-list:not([src="img/home.svg"]) :hover {
  color:#fff;
}

.left-nav li {
  margin-bottom: 3px;
  height: 35px;
  align-items: center;
}

.plus-playlist {
  height:35px;
  width:35px;
  background-color: grey;
  position:relative;
}

.plus-playlist > span {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  color:black;
}

.playlist {
  align-items: center;
}

.bottom-list {
  margin-top:20px;
  flex-basis:640px;
  overflow-y:auto;
  min-height: 70px;
}

.user-section img {
  width:20px;
}

.user-section {
  border-bottom: 1px solid grey;
  width:85%;
  margin:5px auto;
  padding-bottom: 5px;
  font-size: 0.6rem;
  align-items: center;
}

.profile-section {
  width: 85%;
  margin: 5px auto;
  align-items: center;
  font-size: 0.6rem;
}

.profile-section img {
  width:25px;
  background-color: grey;
  border-radius: 50%;
}

.logo {
  width: 100%;
  justify-content: space-between;
  margin-bottom:24px;
}

.logo img {
  width: 130px;
}

/* MAIN SECTION */
.main-section {
  height: calc(100vh - 90px);
  width:calc(100% - 232px);
  float: left;
  overflow: hidden;
  overflow-y:scroll;
}

.upgrade-bar {
  width: calc(100% - 232px);
  height: 100px;
  position: fixed;
  z-index: 1;
  background-color: rgba(4,4,4,0.5);
  overflow: hidden;
  justify-content:flex-end;
  align-items: center;
}

.upgrade-CTA:hover {
  transform: scale(1.1);
}

/* .upgrade-bar:hover span {
  font-size: 0.9rem;
} */

.upgrade-bar a {
  width:240px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #fff;
  position: absolute;
  right:30px;
  /* top:50%;
  right:0;
  transform:translate(0, -50%); */
}

.upgrade-bar span {
  position: absolute;
  width:240px;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  font-size: 0.8rem;
  text-align: center;
  font-weight: 700;
}

.categories {
  width:100%;
  margin-top: 80px;
  justify-content: center;
}

.categories a > li :hover{
  color:#a3a3a3;
}

.categories  a {
  margin-bottom:30px;

}

.selected-category {
  position: relative;
}

.active {
  width: 30px;
  height: 2px;
  background-color: #adff2f;
  position: absolute;
  bottom:0;
  left:calc(50% - 15px);
}


.categories ul li {
  display: inline-block;
  margin: 0px 20px 5px 20px;
  font-size: 0.85rem;
  font-weight: 700;
}

.categories ul {
  margin-top: 50px;
  margin-bottom: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.catergory-row {
  width: 100%;
  margin-bottom: 40px;
  padding: 0 25px;

}

.title-section {
font-weight: 800;
text-align: left;
font-size: 1.6rem;
margin-left: 5px;
margin-bottom: 10px;
}

.title-description {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0 15px 5px;
}

.album-container {
  justify-content:flex-start;
  margin: 0px 0;
  flex-wrap: wrap;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  opacity: 0;
}

.overlay i {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.overlay:hover {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

.cover {
  position: relative;
  display: inline-block;
}

.cover > a > img {
  width: 95%;
  margin-bottom: 10px;
  box-shadow: 1px 1px 7px 5px rgba(0,0,0,0.2);
}

.cover > a > img[src*="img/youg.jpeg"], .cover > a > img[src*="img/einaudi.jpeg"]  {
  border-radius: 50%;
}

.album-box {
  width:calc(100% / 6);
  text-align: center;
  position: relative;
  margin-top:25px;
  cursor: pointer;
}

.album-title {
  font-size: 1.1rem;
  font-weight: 800;
  margin: 7px 0;
}

.album-description {
  font-size: 0.8rem;
  font-weight: 700;
}

/* BOTTOM NAV */
.now-playing {
  width:100%;
  height: 90px;
  justify-content: space-between;
  position:fixed;
  bottom:0;
  z-index:2;
}

.side-play {
  height: 100%;
  width:232px;
  min-width: 120px;
  /* background-color: chartreuse; */
  align-items: center;
  justify-content:space-around;
}

.player-left img {
  width:45px;
  height: 45px;
  margin-left: 5px;
}

.player-left i {
  font-size: 1.1rem;
  margin-left: 10px;
}

.player-left a > p {
  font-size: 0.7rem;
  margin-right: 10px;
}

.player-left a > p:hover {
  color:#fff;
  text-decoration: underline;
}

.center-play {
  height: 100%;
  width:35%;
  /* background-color: orange; */
  font-size: 1.3rem;
}

.player-buttons {
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.player-buttons i {
  margin: 0 15px;
  font-size: 1rem;
}

.player-buttons button {
  background: transparent;
  border:none;
  cursor: pointer;
}

.player-buttons :nth-child(3) i {
  font-size: 2rem;
  margin: 0 20px;
}

.player-buttons :nth-child(3):hover i {
  font-size: 2.1rem;
}

.music-progress-bar {
  width:100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.music-progress-bar > span {
  margin-bottom: 10px;
  font-size: 0.6rem;
}

.progress-bar {
  height: 4px;
  width:85%;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 0 25px 10px 25px;
}

.progress-bar-elapsed:hover {
  background: #adff2f;
  cursor: pointer;
}

.progress-bar-elapsed-circle {
  width: 100%;
  height:100%;
  border-radius: 4px;
  background: #adff2f;
  opacity: 0;
}

.circle-player {
  position:absolute;
  left:100%;
  bottom:calc(50% - 7px);
  border-radius: 50%;
  height: 14px;
  width:14px;
  background-color: #fff;
  opacity: 1;
}

.progress-bar-elapsed-circle:hover {
  opacity: 1
}

.progress-bar-elapsed {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.progress-20-per {
  width: 20%;
}

.progress-40-per {
  width: 40%;
}

.player-right > .progress-bar {
  margin: 0 10px;
}

.player-right a {
  margin:0 8px;
  font-size: 0.9rem;
}



@media screen and (min-width:769px) and (max-width:992px) {
  .album-box {
    width:calc(100% / 4);
  }

  .categories ul li {
    font-size:0.75rem;
    margin:0 10px 5px 10px;
  }

  .title-section {
    font-size: 1.4rem;
  }

  .album-title {
    font-size: 0.9rem;
  }

  .album-description {
    font-size: 0.7rem;
  }

  .overlay i {
    font-size: 4rem;
  }
}

@media screen and (max-width:768px) {
  .album-box {
    width:calc(100% / 2);
  }

  .categories ul li {
    font-size:0.75rem;
    margin:0 10px 5px 10px;
  }

  .title-section {
    font-size: 1.3rem;
  }

  .album-title {
    font-size: 0.8rem;
  }

  .album-description {
    font-size: 0.6rem;
  }

  .overlay i {
    font-size: 4rem;
  }

  .center-play {
    width:30%;
  }

  .side-play {
    width:200px;
  }

  .player-buttons i {
    margin: 0 10px;
  }
}

@media screen and (min-width:360px) and (max-width:767px) {

  .categories ul li {
    font-size:0.75rem;
    margin:0 10px 5px 10px;
  }

  .title-section {
    font-size: 1.3rem;
  }

  .album-title {
    font-size: 0.8rem;
  }

  .album-description {
    font-size: 0.6rem;
  }

  .overlay i {
    font-size: 4rem;
  }

  .center-play {
    width:30%;
  }

  .side-play {
    width:200px;
  }

  .player-buttons i {
    margin: 0 10px;
  }
}
